<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">

            <div class="row">
              <div class="col-lg-4">
                <a href="#0" class="main-btn active-btn rounded-md btn-hover" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"
                (click)="resetForm()"><i class="mdi mdi-plus"></i>Nueva sección</a>
              </div>
              <div class="col-lg-4">
                <div class="select-style-1">
              
                  <div class="select-position" >
                
                      <select id=anio (change)="seleccionAnio($event.target.value)" >
                          <option value="">Selecciona un año</option>
                          <option *ngFor="let anio of anios" [value]="anio">{{anio}}</option>
                      </select>
                      
                  </div>
              </div>
              </div>
              <div class="col-lg-4">
                <!-- <a href="#0" class="main-btn warning-btn rounded-md btn-hover float-end" 
                data-bs-toggle="modal" 
                data-bs-target="#UnirModal"
                data-bs-whatever="@mdo"><i class="mdi mdi-source-merge"></i>Unir secciones</a> -->
              </div>
            </div>
            

            <div class="table-wrapper table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><h6>#</h6></th>
                      <th><h6>Nombre</h6></th>
                      <th><h6>Estado</h6></th>
                      <th><h6>Año</h6></th>
                      <th><h6>Cupos</h6></th>
                      <th><h6>Acción</h6></th>
                    </tr>
                    <!-- end table row-->
                  </thead>
                  <tbody>
                    <tr *ngFor="let seccion of listaSecciones; let i = index;">
                      <td>
                        <div class="min-width">
                        <p>{{i+1}}</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>{{seccion.out_nombre}}</p>
                      </td>
                      <td class="min-width">
                        <p *ngIf="seccion.out_estado==true"> <a >ACTIVO</a></p>
                        <p *ngIf="seccion.out_estado==false"> <a >INACTIVO</a></p>
                      </td>

                      <td class="min-width">
                          <p>{{seccion.out_anio}}</p>
                        
                      </td>
                      <td class="min-width">
                          <p>{{seccion.out_cupos}}</p>
        
                      </td>
                      
                        <td class="min-width">
                          <span class="status-btn light-btn pointer"
                                (click)="actualizarSeccion(seccion)"
                                data-bs-toggle="modal" 
                                data-bs-target="#exampleModal"
                                data-bs-whatever="@mdo">
                              <i class="mdi mdi-pencil-outline"></i>
                            </span>
                      </td>
                    </tr>
                                       
                    <!-- end table row -->

                   
                  </tbody>
                </table>
                <!-- end table -->
             
              </div>
  
             

        </div>
    </div>
</div>


<!-- MODAL EDICION DE NOMBRE Y DESCRIPCION -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="seccionForm" (ngSubmit)="enviarForm()">  
  <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sección</h5>
        
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" formControlName="nombre" style="text-transform: uppercase;"/>
                <small class="text-danger" *ngIf="campoNoValido('nombre')">campo requerido o no válido</small>
            </div>
            <div class="input-style-1">
                <label>Cupos</label>
                <input type="text" placeholder="Cupos" formControlName="cupos"/>
                <small class="text-danger" *ngIf="campoNoValido('cupos')">campo requerido o no válido</small>
            </div>

            <div class="select-style-1">

                <div class="select-position">
                  <label>Estado</label>
                    <select formControlName="estado">
                        <option value="">Selecciona un estado</option>
                        <option value="true">ACTIVO</option>
                        <option value="false">INACTIVO</option>              
                    </select>
                    <small class="text-danger" *ngIf="campoNoValido('estado')">campo requerido o no válido</small>
                </div>
            </div>
            <small>*Selecciona un año para ver o crear nuevas secciones</small>
            <!-- <pre>Valor</pre>
            <p>{{seccionForm.value|json}}</p>
            <pre>valid</pre>
            <p>{{seccionForm.valid}}</p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn primary-btn">Guardar</button>
        </div>
      </div>
    </div>
  </form>
  </div>

  <!-- MODAL UNIR SECCIONES  -->
  <div class="modal fade" id="UnirModal" tabindex="-1" aria-labelledby="UnirModalLabel" aria-hidden="true">
    <form [formGroup]="unirSeccion" (ngSubmit)="unirSecciones()">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UnirModalLabel">Unir Secciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            

          <div class="input-style-1">
            <label>Nombre</label>
            <input type="text" placeholder="nombre" formControlName="nombre" style="text-transform: uppercase;"/>
            <small class="text-danger" *ngIf="nombreValido('nombre')">campo requerido o no válido</small>
        </div>
            <div class="select-style-1">
                <div class="select-position">
                    <select formControlName="seccion1">
                        <option value="">Selecciona una Sección</option>
                        <option *ngFor="let seccion of listaSecciones;  let i = index;" [value]="seccion.out_cod_seccion">{{seccion.out_nombre}}</option>
                    </select>
                </div>
            </div>
      

            <div class="select-style-1">
                <div class="select-position">
                    <select formControlName="seccion2">
                        <option value="">Selecciona una Sección</option>
                        <option *ngFor="let seccion of listaSecciones; let i = index;" [value]="seccion.out_cod_seccion">{{seccion.out_nombre}}</option>
                    </select>
                    <small class="text-danger" *ngIf="validarSecciones()">Debe seleccionar secciones diferentes</small>
                </div>
            </div>
      
        </div>
 <!-- <pre>Valor</pre> -->
            <!-- <p>{{unirSeccion.value|json}}</p>
            <pre>valid</pre>
            <p>{{unirSeccion.valid}}</p> -->

        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn primary-btn" [disabled]="accion">Guardar</button>
        </div>
      </div>
    </div>
  </form>
  </div>