<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">

            <div class="row">
              <div class="col-lg-4">
                <a href="#0" class="main-btn active-btn rounded-md btn-hover" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal"
                data-bs-whatever="@mdo"><i class="mdi mdi-plus"></i>Nueva sección</a>
              </div>
              <div class="col-lg-4">
                <div class="select-style-1">

                  <div class="select-position" >
                      <select >
                          <option value="">Selecciona un año</option>
                          <option *ngFor="let anio of anios" value="">{{anio}}</option>
                  
                      
  
                      </select>
                  </div>
              </div>
              </div>
              <div class="col-lg-4">
                <a href="#0" class="main-btn warning-btn rounded-md btn-hover float-end" 
                data-bs-toggle="modal" 
                data-bs-target="#UnirModal"
                data-bs-whatever="@mdo"><i class="mdi mdi-source-merge"></i>Unir secciones</a>
              </div>
            </div>
            <!-- <div class="title d-flex flex-wrap align-items-center justify-content-between mb-30">
                <div class="left">
                    <a href="#0" class="main-btn active-btn rounded-md btn-hover" 
                                 data-bs-toggle="modal" 
                                 data-bs-target="#exampleModal"
                                 data-bs-whatever="@mdo"><i class="mdi mdi-plus"></i>Nueva sección</a>
                </div>
                <div class="right">

                  
                    <a href="#0" class="main-btn warning-btn rounded-md btn-hover" 
                                 data-bs-toggle="modal" 
                                 data-bs-target="#UnirModal"
                                 data-bs-whatever="@mdo"><i class="mdi mdi-source-merge"></i>Unir secciones</a>
                </div>

            </div> -->

            <div class="table-wrapper table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><h6>#</h6></th>
                      <th><h6>Nombre</h6></th>
                      <th><h6>Estado</h6></th>
                      <th><h6>Año</h6></th>
                      <th><h6>Cupos</h6></th>
                      <th><h6>Acción</h6></th>
                    </tr>
                    <!-- end table row-->
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>1</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>A</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                          <p>2021</p>
                        <!-- <span class="status-btn primary-btn mr-5 pointer"><i class="mdi mdi-pencil-outline"  data-bs-toggle="modal" data-bs-target="#exampleModal"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span> -->
                      </td>
                      <td class="min-width">
                          <p>35</p>
                        <!-- <span class="status-btn primary-btn mr-5 pointer"><i class="mdi mdi-pencil-outline"  data-bs-toggle="modal" data-bs-target="#exampleModal"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span> -->
                      </td>
                      
                        <td class="min-width">
                          <span class="status-btn light-btn pointer"
                                data-bs-toggle="modal" 
                                data-bs-target="#exampleModal"
                                data-bs-whatever="@mdo">
                              <i class="mdi mdi-pencil-outline"></i>
                            </span>
                      </td>
                    </tr>
                    
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>2</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>B</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                          <p>2021</p>
                        <!-- <span class="status-btn primary-btn mr-5 pointer"><i class="mdi mdi-pencil-outline"  data-bs-toggle="modal" data-bs-target="#exampleModal"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span> -->
                      </td>
                      <td class="min-width">
                          <p>35</p>
                        <!-- <span class="status-btn primary-btn mr-5 pointer"><i class="mdi mdi-pencil-outline"  data-bs-toggle="modal" data-bs-target="#exampleModal"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span> -->
                      </td>
                      
                        <td class="min-width">
                          <span class="status-btn light-btn pointer"
                                data-bs-toggle="modal" 
                                data-bs-target="#exampleModal"
                                data-bs-whatever="@mdo">
                              <i class="mdi mdi-pencil-outline"></i>
                            </span>
                      </td>
                    </tr>
                    
                    <!-- end table row -->

                   
                  </tbody>
                </table>
                <!-- end table -->
             
              </div>
  
             

        </div>
    </div>
</div>


<!-- MODAL EDICION DE NOMBRE Y DESCRIPCION -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sección</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
     
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" />
            </div>
            <div class="input-style-1">
                <label>Cupos</label>
                <input type="text" placeholder="Cupos" />
            </div>

            <div class="select-style-1">

                <div class="select-position">
                    <select>
                        <option value="">Selecciona un estado</option>
                        <option value="">Activo</option>
                        <option value="">Inactivo</option>
                    

                    </select>
                </div>
            </div>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn primary-btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL UNIR SECCIONES  -->
  <div class="modal fade" id="UnirModal" tabindex="-1" aria-labelledby="UnirModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UnirModalLabel">Unir Secciones</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <div class="select-style-1">

                <div class="select-position">
                    <select>
                        <option value="">Selecciona una Sección</option>
                        <option value="">A</option>
                        <option value="">B</option>
                    

                    </select>
                </div>
            </div>
      

            <div class="select-style-1">

                <div class="select-position">
                    <select>
                        <option value="">Selecciona una Sección</option>
                        <option value="">A</option>
                        <option value="">B</option>
                    

                    </select>
                </div>
            </div>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn primary-btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>