<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
            <div class="title d-flex flex-wrap align-items-center justify-content-between mb-30">
                <div class="left">
                <h3>Usuarios</h3>
                </div>
                <div class="right">
                    <div class="input-style-1">
                        <input type="text" placeholder="Buscar Usuario"/>
                      </div>
                </div>

            </div>

            <div class="table-wrapper table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><h6>#</h6></th>
                      <th><h6>Nombre</h6></th>
                      <th><h6>Estado</h6></th>
                      <th><h6>Acción</h6></th>
                    </tr>
                    <!-- end table row-->
                  </thead>
                  <tbody>
                    <tr *ngFor="let usuario of listaUsuarios; let i =index;">
                      <td>
                        <div class="min-width">
                        <p>{{i+1}}</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>{{usuario.out_nombre}}</p>
                      </td>
                      <td class="min-width">
                        <p>{{usuario.out_estado}}</p>
                      </td>
            
                      
                        <td class="min-width">
                          <span class="status-btn light-btn pointer"
                                data-bs-toggle="modal" 
                                data-bs-target="#exampleModal"
                                (click)="asignarDatos(usuario.out_cod_usuario)"
                                data-bs-whatever="@mdo">
                              <i class="mdi mdi-pencil"></i>
                            </span>
                      </td>
                    </tr>
                  
                   
                    <!-- end table row -->

                   
                  </tbody>
                </table>
                <!-- end table -->
             
              </div>
  
              <div class="row">
                  <div class="col">
                      <button type="button" class="main-btn light-btn rounded-md btn-hover mr-5" (click)="cambiarPagina(-10)">Anterior</button>
                      <button type="button"  class="main-btn light-btn rounded-md btn-hover" (click)="cambiarPagina(10)">Siguiente</button>
                  </div>
              </div>

        </div>
    </div>
</div>


<!-- MODAL EDICION DE NOMBRE Y DESCRIPCION -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contrato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="usuarioForm" (ngSubmit)="enviarForm()">
        <div class="modal-body">
       
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" formControlName="nombre"/>
            </div>
                    <div class="select-style-1">

                <div class="select-position">
                    <select formControlName="cod_estado">
                        <option value="">Selecciona un Estado</option>
                        <option *ngFor="let estado of listaEstados" [value]="estado.out_cod_estado">{{estado.out_nombre}}</option>
                    </select>
                </div>
            </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn primary-btn">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>


