<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">

            
            <div class="row">
                <div class="col-lg-6">
                <h3 class="mb-3">Datos</h3>
                <hr>
                <div class="input-style-1">
                    <label>Nombre</label>
                    <input type="text" placeholder="Nombre" disabled="true" [value]="usuario.nombre"/>
                </div>
                <div class="input-style-1">
                    <label>Correo</label>
                    <input type="text" placeholder="" disabled="true"  [value]="usuario.correo"/>
                </div>
            </div>
            <div class="col-lg-6 ">
                <h3 class="mb-3">Configuración</h3>
                <hr>
             <div class="text-center">
                 <button type="button" 
                        class="btn btn-primary mt-5" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal">Cambiar contraseña</button>
             </div>
            </div>

            </div>
        </div>
        </div>
    </div>

    <!-- MODAL CAMBIO DE CONTRASEÑA  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cambio de contraseña</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="cambioPassForm" (ngSubmit)="cambioPwd()">
            <div class="modal-body">
              
                <div class="input-style-1">
                    <label>Contraseña Actual</label>
                    <input type="password" placeholder="Contraseña actual" formControlName="contrasenaAnterior" />
                    <small *ngIf="contrasenaIncorrecta"  class="text-danger">Contraseña incorrecta</small>
                </div>
                <div class="input-style-1">
                    <label>Nueva Contraseña</label>
                    <input type="password" placeholder="Nueva Contraseña" formControlName="contrasenaNueva"/>
                </div>
                <div class="input-style-1">
                    <label>Confirmar Contraseña</label>
                    <input type="password" placeholder="Confirmar" formControlName="confirmarContrasena"/>
                    <small class="text-danger" *ngIf="contrasenasNoValidas()">Contraseñas deben ser iguales</small>
                </div>
    
                <small>La contraseña debe contener almenos: 8 caracteres y Aa-Zz09!"#$% </small>
              
              <div class="alert-box primary-alert pl-100">
              
              
              </div>
            </div>
            <div class="modal-footer">
              



              <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn primary-btn">Confirmar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
        <!-- FIN MODAL CAMBIO DE CONTRASEÑA  -->
    