<div class="row" style="margin: auto; width: 50%;">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
            <h3>Cambio de contraseña</h3>
            <hr>

            <div class="row">
                <div class="col-lg-12">

                    <div class="input-style-1">
                        <label>Nueva Contraseña</label>
                        <input type="password" placeholder="Nueva Contraseña" />
                    </div>
                    <div class="input-style-1">
                        <label>Confirmar Cotraseña</label>
                        <input type="password" placeholder="Confirmar Contraseña" />
                    </div>
                    <div class="float-end">
                        <button class="main-btn active-btn rounded-md btn-hover">Cambiar</button>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>