<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h2 class="mb-3">Reportes</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Exportar</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Matricula Colegio</td>
            <td>
              <a class="btn btn-danger btn-sm  rounded-md btn-hover "> <i 
                 class="mdi mdi-download"></i> PDF</a>

              <a class="btn btn-sm btn-success rounded-md btn-hover ml-5 "><i
                 class="mdi mdi-file-excel"></i>Excel</a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Matricula Escuela y Kinder</td>
            <td>
              <a class="btn btn-danger btn-sm  rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</a>
              <a class="btn btn-sm btn-success rounded-md btn-hover ml-5 "><i
                  class="mdi mdi-file-excel"></i>Excel</a>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h2 class="mb-3">Directorios Telefónicos</h2>

      <div class="row">
        <div class="col-lg-4">
          <div class="select-style-1">
            <label>Curso</label>
            <div class="select-position">
                <select>
                    <option value="">Selecciona una opción</option>
                    <option value="">Todos</option>
                    <option value="">Septimo</option>
                    <option value="">Octavo</option>
                    <option value="">Noveno</option>
                </select>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="select-style-1">
            <label>Sección</label>
            <div class="select-position">
                <select>
                    <option value="">Selecciona una opción</option>
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                </select>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="input-style-1">
            <label >Exportar</label>
            <!-- <a class="main-btn btn-sm danger-btn rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</a> -->
            <a class="btn btn-danger btn-sm  rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>