<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h2 class="mb-3">Reporte Matricula</h2>
      
      <form [formGroup]="fechasForm" (ngSubmit)="matriculaDiaria()">
        <div class="row">
          <div class="col-lg-4">
            <br>
            <br>
            <h5>Matricula Jardí, Escuela, Colegio</h5>
          </div>
          <div class="col-lg-2">
            <div class="input-style-2">
              <label>Fecha Iinicial <small class="text-danger">*</small></label>
              
              <input type="date"
                     class="form-control"   
                     formControlName="fechaI"      
                     />
              <span class="icon"><i class="lni lni-chevron-down"></i></span>
              <!-- <small class="text-danger" *ngIf="campoNoValidoU('fecha_nacimiento')">campo requerido o no válido</small> -->
          </div>
          </div>
          <div class="col-lg-2">
            <div class="input-style-2">
              <label>Fecha Fecha final <small class="text-danger">*</small></label>

              <input type="date"
                     class="form-control"
                     formControlName="fechaF"
                     />
              <span class="icon"><i class="lni lni-chevron-down"></i></span>
              <!-- <small class="text-danger" *ngIf="campoNoValidoU('fecha_nacimiento')">campo requerido o no válido</small> -->
          </div>
          </div>
          <div class="col-lg-4">
            <br>
            
            <button type="submit" class="btn btn-info btn-sm  rounded-md btn-hover">Cargar Datos</button>

            <button type="button"
                    *ngIf="datosCargados"  
                     class="btn btn-danger btn-sm  rounded-md btn-hover"
                     (click)="generarPDFMatricula()"> <i class="mdi mdi-download"></i> PDF</button>   
          </div>
        </div>
      </form>

      
      

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h2 class="mb-3">Directorios Telefónicos</h2>

      <div class="row">

        <div class="col-lg-2">
          <div class="select-style-1">
            <label>Año</label>
            <div class="select-position">
                <select (change)="asignarAnio($event.target.value)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let anio of Anios" [value]="anio">{{anio}}</option>
                    
                </select>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="select-style-1" *ngIf="cursoBloqueado">
            <label>Curso</label>
            <div class="select-position">
                <select (change)="asignarCurso($event.target.value)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let curso of cursos" [value]="curso.out_cod_curso">{{curso.out_nombre}}</option>
                  
                </select>
            </div>
        </div>
        </div>
        <div class="col-lg-2">
          <div class="select-style-1">
            <label>Sección</label>
            <div class="select-position">
                <select (change)="asignarSeccion($event.target.value)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let seccion of secciones" [value]="seccion.out_cod_seccion">{{seccion.out_nombre}}</option>
                    
                    
                </select>
            </div>
        </div>
        </div>
        
        <div class="col-lg-4">
          <div class="input-style-1">
            <label >Exportar</label>
            <!-- <a class="main-btn btn-sm danger-btn rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</a> -->
            <button type="button" (click)="generarPDF()"class="btn btn-danger btn-sm  rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>