<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h2 class="mb-3">Reportes</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Exportar</th>

          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <th scope="row">1</th>
            <td>Matricula Colegio</td>
            <td>
              <a class="btn btn-danger btn-sm  rounded-md btn-hover "> <i 
                 class="mdi mdi-download"></i> PDF</a>

           
            </td>
          </tr> -->
          <tr>
            <th scope="row">1</th>
            <td>Matricula Jardin, Escuela, Colegio</td>
            <td>
              <button class="btn btn-info btn-sm  rounded-md btn-hover "(click)="matriculaDiaria()">Cargar Datos</button>
              
              <button *ngIf="datosCargados"  
                       class="btn btn-danger btn-sm  rounded-md btn-hover"
                       (click)="generarPDFMatricula()"> <i class="mdi mdi-download"></i> PDF</button>             
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h2 class="mb-3">Directorios Telefónicos</h2>

      <div class="row">

        <div class="col-lg-3">
          <div class="select-style-1">
            <label>Año</label>
            <div class="select-position">
                <select (change)="asignarAnio($event.target.value)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let anio of Anios" [value]="anio">{{anio}}</option>
                    
                </select>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
          <div class="select-style-1" *ngIf="cursoBloqueado">
            <label>Curso</label>
            <div class="select-position">
                <select (change)="asignarCurso($event.target.value)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let curso of cursos" [value]="curso.out_cod_curso">{{curso.out_nombre}}</option>
                  
                </select>
            </div>
        </div>
        </div>
        <div class="col-lg-3">
          <div class="select-style-1">
            <label>Sección</label>
            <div class="select-position">
                <select (change)="asignarSeccion($event.target.value)">
                    <option value="">Selecciona una opción</option>
                    <option *ngFor="let seccion of secciones" [value]="seccion.out_cod_seccion">{{seccion.out_nombre}}</option>
                    
                    
                </select>
            </div>
        </div>
        </div>
     
        <div class="col-lg-2">
          <div class="input-style-1">
            <label >Exportar</label>
            <!-- <a class="main-btn btn-sm danger-btn rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</a> -->
            <button type="button" (click)="generarPDF()"class="btn btn-danger btn-sm  rounded-md btn-hover "> <i class="mdi mdi-download"></i> PDF</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>