<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
            <div class="title d-flex flex-wrap align-items-center justify-content-between mb-30">
                <div class="left">
                    <a href="#0" class="main-btn active-btn rounded-md btn-hover" 
                                 data-bs-toggle="modal" 
                                 data-bs-target="#exampleModal"
                                 data-bs-whatever="@mdo"
                                 (click)="resetForm()"><i class="mdi mdi-plus"></i>Nuevo Colegio</a>
                </div>
                <div class="right">
                    <div class="input-style-1">
                        <input type="text" placeholder="Buscar Colegio" (keyup)="buscarColegio($event.target.value)"/>
                      </div>
                </div>

            </div>

            <div class="table-wrapper table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><h6>#</h6></th>
                      <th><h6>Nombre</h6></th>
                      <th><h6>Estado</h6></th>
                      <th><h6>Accion</h6></th>
                     
                    </tr>
                    <!-- end table row-->
                  </thead>
                  <tbody>
                    <tr *ngFor="let colegio of listaColegios; let i = index;">
                      <td>
                        <div class="min-width">
                        <p>{{i+1}}</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>{{colegio.out_nombre}}</p>
                      </td>
                      <td class="min-width">
                        <p *ngIf="colegio.out_estado==true"><a href="#0">ACTIVO</a></p>
                        <p *ngIf="colegio.out_estado==false"><a href="#0">INACTIVO</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              data-bs-toggle="modal" 
                              data-bs-target="#editarModal"
                              (click)="cargarDatosColegio(i)"><i class="mdi mdi-pencil-outline"></i></span>
                     
                      </td>
                    
                    </tr>
                  
                   
                 
                  
                    <!-- end table row -->

                   
                  </tbody>
                </table>
                <!-- end table -->
             
              </div>
  
              <div class="row">
                  <div class="col">
                      <a type="button" class="main-btn light-btn rounded-md btn-hover mr-5" (click)="cambiarPagina(-10)">Anterior</a>
                      <a type="button" class="main-btn light-btn rounded-md btn-hover" (click)="cambiarPagina(10)">Siguiente</a>
                  </div>
              </div>

        </div>
    </div>
</div>


<!-- MODAL EDICION DE NOMBRE Y DESCRIPCION -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="colegioForm" (ngSubmit)="nuevoColegio()"> 
  <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Colegio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
    
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" formControlName="nombre" />
                <small class="text-danger" *ngIf="campoNoValido('nombre')">Campo requerido o no válido</small>
            </div>
        
            <div class="select-style-1">

                <div class="select-position">
                    <select formControlName="estado">
                        <option value="">Selecciona un estado</option>
                        <option [value]="true">ACTIVO</option>
                        <option [value]="false">INACTIVO</option>
                    
                    </select>
                    <small class="text-danger" *ngIf="campoNoValido('estado')">Campo requerido o no válido</small>
                </div>
            </div>
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn primary-btn">Guardar</button>
        </div>
      </div>
    </div>
  </form>
  </div>

  <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarModalLabel">Colegio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="colegioForm" (ngSubmit)="actualizarColegio()">

            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" formControlName="nombre" />
            </div>
          

            <div class="select-style-1">

                <div class="select-position">
                    <select formControlName="estado">
                        <option value="">Selecciona un estado</option>
                        <option [value]="true">ACTIVO</option>
                        <option [value]="false">INACTIVO</option>
                  
                    </select>
                </div>
            </div>
     
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn primary-btn">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  
  

  