<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
            <div class="title d-flex flex-wrap align-items-center justify-content-between mb-30">
                <div class="left">
                    <a href="#0" class="main-btn active-btn rounded-md btn-hover" 
                                 data-bs-toggle="modal" 
                                 data-bs-target="#exampleModal"
                                 data-bs-whatever="@mdo"><i class="mdi mdi-plus"></i>Nuevo Colegio</a>
                </div>
                <div class="right">
                    <div class="input-style-1">
                        <input type="text" placeholder="Buscar Colegio"/>
                      </div>
                </div>

            </div>

            <div class="table-wrapper table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><h6>#</h6></th>
                      <th><h6>Nombre</h6></th>
                      <th><h6>Estado</h6></th>
                      <th><h6>Accion</h6></th>
                     
                    </tr>
                    <!-- end table row-->
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>1</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>ABELARDO R. FORTIN</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              data-bs-toggle="modal" 
                              data-bs-target="#exampleModal"><i class="mdi mdi-pencil-outline"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span>
                      </td>
                    
                    </tr>
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>2</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>TECNICO LUIS BOGRAN</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              data-bs-toggle="modal" 
                              data-bs-target="#exampleModal"><i class="mdi mdi-pencil-outline"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span>
                      </td>
                    
                    </tr>
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>3</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>  TECNICO HONDURAS</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              data-bs-toggle="modal" 
                              data-bs-target="#exampleModal"><i class="mdi mdi-pencil-outline"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span>
                      </td>
                    
                    </tr>
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>4</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>  HUMBERTO LOPEZ Y LOPEZ</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              data-bs-toggle="modal" 
                              data-bs-target="#exampleModal"><i class="mdi mdi-pencil-outline"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span>
                      </td>
                    
                    </tr>
                    <tr>
                      <td>
                        <div class="min-width">
                        <p>5</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>SAN PABLO I I</p>
                      </td>
                      <td class="min-width">
                        <p><a href="#0">Activo</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              data-bs-toggle="modal" 
                              data-bs-target="#exampleModal"><i class="mdi mdi-pencil-outline"></i></span>
                        <span class="status-btn danger-btn pointer"><i class="mdi mdi-delete"></i></span>
                      </td>
                    
                    </tr>
                  
                    <!-- end table row -->

                   
                  </tbody>
                </table>
                <!-- end table -->
             
              </div>
  
              <div class="row">
                  <div class="col">
                      <a href="#0" class="main-btn light-btn rounded-md btn-hover mr-5">Anterior</a>
                      <a href="#0" class="main-btn light-btn rounded-md btn-hover">Siguiente</a>
                  </div>
              </div>

        </div>
    </div>
</div>


<!-- MODAL EDICION DE NOMBRE Y DESCRIPCION -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Colegio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" placeholder="Nombre" />
            </div>
          

            <div class="select-style-1">

                <div class="select-position">
                    <select>
                        <option value="">Selecciona un estado</option>
                        <option value="">Activo</option>
                        <option value="">Inactivo</option>
                    

                    </select>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn primary-btn">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  
  
  

  