<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
            <div class="title d-flex flex-wrap align-items-center justify-content-between mb-30">
                <div class="left">
                    <a href="#0" (click)="resetForm()"
                                class="main-btn active-btn rounded-md btn-hover" 
                                 data-bs-toggle="modal" 
                                 data-bs-target="#exampleModal"
                                 data-bs-whatever="@mdo"><i class="mdi mdi-plus"></i>Nuevo Curso</a>
                </div>
                <div class="right">
                    <div class="input-style-1">
                        <input type="text" placeholder="Buscar curso" (keypress)="buscarCurso($event.target.value)"/>
                      </div>
                </div>

            </div>

            <div class="table-wrapper table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th><h6>#</h6></th>
                      <th><h6>Nombre</h6></th>
                      <th><h6>Estado</h6></th>
                      <th><h6>Accion</h6></th>
                      <th><h6>Secciones</h6></th>
                    </tr>
                    <!-- end table row-->
                  </thead>
                  <tbody>
                    <tr *ngFor="let curso of listaCursos; let i = index">
                      <td>
                        <div class="min-width">
                        <p>{{i+1}}</p>
                        </div>
                      </td>
                      <td class="min-width">
                        <p>{{curso.out_nombre}}</p>
                      </td>
                      <td class="min-width">
                        <p *ngIf="curso.out_estado==true"><a href="#0">ACTIVO</a></p>
                        <p *ngIf="curso.out_estado==false"><a href="#0">INACTIVO</a></p>
                      </td>

                      <td class="min-width">
                        <span class="status-btn primary-btn mr-5 pointer"
                              (click)="cargarDatosCurso(i)"
                              data-bs-toggle="modal" data-bs-target="#edicionModal">
                          <i class="mdi mdi-pencil-outline"  ></i>
                        </span>
                      
                      </td>
                      
                        <td class="min-width">
                          <span [routerLink]="['/admin/secciones',curso.out_cod_curso]" class="status-btn light-btn pointer">
                              <i class="mdi mdi-dots-horizontal"></i>
                            </span>
                      </td>
                    </tr>
                  
                    <!-- end table row -->

                   
                  </tbody>
                </table>
                <!-- end table -->
             
              </div>
  
              <div class="row">
                  <div class="col">
                      <a type="button" (click)="cambiarPagina(-10)" class="main-btn light-btn rounded-md btn-hover mr-5">Anterior</a>
                      <a type="button" (click)="cambiarPagina(10)" class="main-btn light-btn rounded-md btn-hover">Siguiente</a>
                  </div>
              </div>

        </div>
    </div>
</div>


<!-- MODAL EDICION DE NOMBRE Y DESCRIPCION -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form  [formGroup]="cursoForm" (ngSubmit)="nuevoCurso()">
        <div class="modal-body">
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" placeholder="Nombre" style="text-transform: uppercase;" />
            </div>
            <div class="input-style-1">
                <label>Desripción</label>
                <input type="text"  formControlName="descripcion" placeholder="Descripción" style="text-transform: uppercase;"/>
            </div>

            <div class="select-style-1">

                <div class="select-position">
                    <select formControlName="estado">
                        <option value="">Selecciona un estado</option>
                        <option value="true">ACTIVO</option>
                        <option value="false">INACTIVO</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn primary-btn">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="edicionModal" tabindex="-1" aria-labelledby="edicionModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edicionModalLabel">Editar Curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form  [formGroup]="cursoForm" (ngSubmit)="actualizarCurso()">
        <div class="modal-body">
            <div class="input-style-1">
                <label>Nombre</label>
                <input type="text" formControlName="nombre" placeholder="Nombre" style="text-transform: uppercase;" />
            </div>
            <div class="input-style-1">
                <label>Desripción</label>
                <input type="text"  formControlName="descripcion" placeholder="Descripción" style="text-transform: uppercase;"/>
            </div>

            <div class="select-style-1">

                <div class="select-position">
                    <select formControlName="estado">
                        <option value="">Selecciona un estado</option>
                        <option value="true">ACTIVO</option>
                        <option value="false">INACTIVO</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn light-btn" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn primary-btn">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

