<!-- DATOS DE MATRICULA -->

<div class="row">

  <div class="col-lg-12">
    <div class="card-style mb-30 shadow-sm p-3 mb-5 bg-body rounded">
      <h6 class="mb-25">Datos de la matricula</h6>
      <div class="row">
        <div class="col-lg-3">
          <div class="input-style-2">
            <label>Año de matricula</label>
            <input type="date" />
            <span class="icon"><i class="lni lni-chevron-down"></i></span>
          </div>

          <div class="select-style-1">
            <label>Sede:</label>
            <div class="select-position">
              <select>
                <option value="">Selecciona una opción</option>
                <option value="">JZL</option>
                <option value="">San Jose del pedregal</option>

              </select>
            </div>
          </div>


        </div>

        <div class="col-lg-3">
          <div class="select-style-1">
            <label>Tipo Matricula:</label>
            <div class="select-position">
              <select>
                <option value="">Selecciona una opción</option>
                <option value="">Jardín</option>
                <option value="">Escuela</option>
                <option value="">Colegio</option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="select-style-1">
            <label>Curso:</label>
            <div class="select-position">
              <select>
                <option value="">Selecciona una opción</option>
                <option value="">Septimo</option>
                <option value="">Octavo</option>
                <option value="">Noveno</option>
                <option value="">Bachillerato Técnico en Contaduría y Finanzas</option>

              </select>
            </div>
          </div>

          <div class="select-style-1">
            <label>Sección:</label>
            <div class="select-position">
              <select>
                <option value="">Selecciona una opción</option>
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>

              </select>
            </div>
          </div>
        </div>

        <hr class="divider">


        <div class="row">
          <div class="col-lg-4">
            <div class="input-style-1">
              <label>Identidad Alumno</label>
              <input type="text" placeholder="Identidad Alumno" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-style-1">
              <label>Identidad Encargado</label>
              <input type="text" placeholder="Identidad Encargado" />
            </div>
          </div>
          <div class="col-lg-4">
            <!-- <div class="input-style-1">
              <label>Cupos</label>
              <input type="text" placeholder="Cupos" />
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="input-style-1">
              <input type="text" placeholder="Nombre Alumno" disabled="true" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-style-1">
              <input type="text" placeholder="Nombre encargado"  disabled="true"/>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- <div class="input-style-1">
              <label>Cupos</label>
              <input type="text" placeholder="Cupos" />
            </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="alert-box warning-alert pl-100">

              <div class="alert">
                <h4 class="alert-heading text-gray">Aviso</h4>
                <p class="text-medium text-gray">
                  Este alumno ya se encuentra registrado, para una nueva matricula solo rellena los datos
                  correspondientes en este apartado
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <div class="row ">
          <div class="col-lg-12 ">
            <a href="#0" 
              class="main-btn active-btn rounded-md btn-hover float-end" 
                >Guardar </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- FIN DATOS DE MATRICULA -->